:root {
  /* fonts */
--primary-font: "Roboto", sans-serif;
 --secondary-font: "Raleway", sans-serif;


/* colors */
--logo-text-color: #4D5AE5;
--color-txt: #2E2F42;
 --color-txt-body: #434455;

/* other */



}

body {
  background-color: #FFFFFF;
  color: #434455;
  font-family: var(--primary-font);
}

/* BASE STYLE */


/* base style */
.section {
}

.btn {
    font-family: inherit;
}


.link {
  color: inherit;
    text-decoration: none;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* HEADER */

.header { 
  
}
.header-nav {
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;


  color: var(--logo-text-color);

}
.logo-studio {
  color: var(--color-txt);


}
.header-nav-list {
}
.header-nav-item {
}
.header-nav-link {
}
.header-address {
}
.header-address-list {
}
.header-address-mail-item {
}
.header-address-mail-link {

    font-style: normal;
}
.header-address-contact-item {
}
.header-address-contact-link {
    font-style: normal;
}

/* Section Hero */
.hero {
    background-color: #2E2F42;
}
.hero-title {
    color: #FFFFFF;
}
.hero-button {

}
.hero-button-text {
  
}

/* section One Feature */
.one-section {
}

.one-section-list {
}
.one-section-item {
}
.one-section-content-title {
}
.one-section-text {
}
/* section Two What are we doing */
.two-section {
}
.two-section-title {
}
.two-section-list {
}
.two-section-item {
}
/* section Three Our Team */
.three-section {
    background-color: #F4F4FD;
}
.three-section-title {
}
.three-section-list {
}
.three-section-item {
}
.three-section-title-name {
}
.three-section-pro {
}
/* FOOTER */
.footer {
}
.footer-link {
}
.link {
}
.footer-text {
}
